@{ 
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="VotingApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>VotingApp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="row" id="NavBarRow">
        <span class="col-lg-2">
            <a href="/#/frontpage">VOTING APP</a>
        </span>
        <span class="col-lg-2" align="left">
            <a href="/#/getstarted">GET STARTED</a>
        </span>
        <span class="col-lg-4">           
        </span>
        <span class="col-lg-2">
            <a href="/#/login">LOG IN</a>
        </span>
        <span class="col-lg-2" align="left">
            <a href="/#/register">REGISTER</a>
        </span>
    </div>

    <div class="row" id="FooterBar">
        <span class="col-lg-1">
        </span>
        <span class="col-lg-2" style="text-align: left; padding-top: 30px;">
            <div style="border-bottom-color: #4C4C4C; border-bottom-width: 1px; border-bottom-style: solid; width: 90px; margin-bottom: 10px;"><a href="/#/FrontPage">VOTING APP</a></div>
            <div style="border-bottom-color: #4C4C4C; border-bottom-width: 1px; border-bottom-style: solid; width: 90px; margin-bottom: 10px;"><a href="/#/login">CREATE A MOTION</a></div>
            <div style="border-bottom-color: #4C4C4C; border-bottom-width: 1px; border-bottom-style: solid; width: 90px; margin-bottom: 10px;"><a href="/#/login">LOG IN</a></div>
            <div style="border-bottom-color: #4C4C4C; border-bottom-width: 1px; border-bottom-style: solid; width: 90px; margin-bottom: 10px;"><a href="/#/register">REGISTER</a></div>
        </span>
        <span class="col-lg-8">
            <span class="row">
                <span class="col-sm-8">Meet The Team</span>
            </span>
            <span class="row">
                <span class="col-sm-3" id="AboutTeamMember">
                    <span style="color: grey">Juli Orms</span>
                    <br />
                    My name is Juli and i am an coder. I went to coder camps and i specialize in front end development.
                </span>
                <span class="col-sm-3" id="AboutTeamMember">
                    <span style="color: grey">Juli Orms</span>
                    <br />
                    My name is Juli and i am an coder. I went to coder camps and i specialize in front end development.
                </span>
                <span class="col-sm-3" id="AboutTeamMember">
                    <span style="color: grey">Juli Orms</span>
                    <br />
                    My name is Juli and i am an coder. I went to coder camps and i specialize in front end development.
                </span>
                <span class="col-sm-3" id="AboutTeamMember">
                    <span style="color: grey">Juli Orms</span>
                    <br />
                    My name is Juli and i am an coder. I went to coder camps and i specialize in front end development.
                </span>
            </span>
        </span>
        <span class="col-lg-1">
        </span>
    </div>

    <ng-view></ng-view>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @*Loads all javascripts in the ~/Scripts/ngApp folder and subfolders*@
    @Scripts.Render("~/bundles/angularCustom")
</body>
</html>
