@{ 
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="VotingApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
    <title>VotingApp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="row; container-fluid" id="NavBarRow">
        <span class="col-lg-2">
            <a href="/#/frontpage">REMOTE.VOTE</a>
        </span>
        <span class="col-lg-2" align="left">
            <a href="/#/getstarted">GET STARTED</a>
        </span>
        <span class="col-lg-4">
        </span>
        <span class="col-lg-2">
            <a href="/#/login">LOG IN</a>
        </span>
        <span class="col-lg-2" align="left">
            <a href="/#/register">REGISTER</a>
        </span>       
    </div> 
    <ng-view></ng-view>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @*Loads all javascripts in the ~/Scripts/ngApp folder and subfolders*@
    @Scripts.Render("~/bundles/angularCustom")
</body>
</html>
